bin/Debug/net6.0/Microsoft.OpenApi.dll
bin/Debug/net6.0/Shop.dll
bin/Debug/net6.0/Shop.exe
bin/Debug/net6.0/Shop.pdb
bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net6.0/ref/Shop.dll
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Shop.assets.cache
obj/Debug/net6.0/Shop.csproj.AssemblyReference.cache
obj/Debug/net6.0/Shop.csproj.CopyComplete
obj/Debug/net6.0/Shop.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Shop.csproj.FileListAbsolute.txt
obj/Debug/net6.0/ref/Shop.dll
obj/Debug/net6.0/Shop.pdb
obj/Debug/net6.0/Shop.dll
obj/Debug/net6.0/Shop.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/Shop.genruntimeconfig.cache
obj/Debug/net6.0/Shop.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Shop.csproj.AssemblyReference.cache
obj/Debug/net6.0/Shop.assets.cache
